@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --profile: url('/assets/profile.png');
    --accent: #a95186;
    --accent-light: #ac628f;
    --accent-lighter: #c57db4;
    --accent-lightest: #d6a8d1;
  }

  [data-theme='light'] {
    --primary: #f7f8f9;
    --primary-highlight: #fcfcfc;
    --secondary: #000;
    --secondary-light: #6c7075;
    --secondary-mute: #e7e8e9;
    --highlight: #ead2e7;
    --accent-mute: #ead2e7;
    --accent-text: #a95186;
  }

  [data-theme='dark'] {
    --primary: #353543;
    --primary-highlight: #2e2e3d;
    --secondary: #ebecff;
    --secondary-light: #9fa2c6;
    --secondary-mute: #40414f;
    --highlight: #493247;
    --accent-mute: #c57db4;
    --accent-text: #7f3461;
  }

  h1 {
    @apply font-bold;
    @apply text-4xl;
    @apply sm:text-6xl;
  }

  h2 {
    @apply font-bold;
    @apply text-4xl;
  }

  h3 {
    @apply mt-4;
    @apply mb-2;
    @apply font-semibold;
    @apply text-2xl;
  }

  label {
    @apply font-bold;
  }
}
