@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* default dark theme */
    --profile: url('/assets/profile.png');
    --pattern: url('/assets/checkerboardDark.png');
    --primary: #1f2026;
    --text-primary: #6b7280;
    --text-secondary: #d1d5db;
    --text-active: #1f2026;
    --accent: #e24951;
    --accent-dark: #710b12;
    --accent-darkest: #9e1d26;
    --nav-accent: #1a1b21;
    --nav-button: #14151a;
    --border: #18191e;
    --shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.45);
    --scroll: #30323a;
    --scrollhover: #3b3d46;
    --scrollfocus: #43454e;
  }

  [data-theme='light'] {
    --profile: url('/assets/profileLight.png');
    --pattern: url('/assets/checkerboard.png');
    --primary: #f2f2f2;
    --text-primary: #4b5563;
    --text-secondary: #1f2937;
    --text-active: #f2f2f2;
    --accent: #60a5fa;
    --accent-dark: #3d79cc;
    --accent-darkest: #1c519a;
    --nav-accent: #e4e4e4;
    --nav-button: #d1d5db;
    --border: #e4e4e4;
    --shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.2);
    --scroll: #bfc5cd;
    --scrollhover: #afb6bf;
    --scrollfocus: #969ea8;
  }

  [data-theme='dark'] {
    --profile: url('/assets/profile.png');
    --pattern: url('/assets/checkerboardDark.png');
    --primary: #1f2026;
    --text-primary: #6b7280;
    --text-secondary: #d1d5db;
    --text-active: #1f2026;
    --accent: #e24951;
    --accent-dark: #9e1d26;
    --accent-darkest: #710b12;
    --nav-accent: #1a1b21;
    --nav-button: #14151a;
    --border: #18191e;
    --shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.45);
    --scroll: #30323a;
    --scrollhover: #3b3d46;
    --scrollfocus: #43454e;
  }

  [data-theme='honey'] {
    --profile: url('/assets/profileHoney.png');
    --pattern: url('/assets/checkerboardHoney.png');
    --primary: #884d34;
    --text-primary: #be6b3f;
    --text-secondary: #d57f45;
    --text-active: #884d34;
    --accent: #d97706;
    --accent-dark: #b5540a;
    --accent-darkest: #92400e;
    --nav-accent: #83422d;
    --nav-button: #7b3925;
    --border: #83422d;
    --shadow: 0 4px 12px -2px rgba(61, 21, 3, 0.6);
    --scroll: #9c5531;
    --scrollhover: #ac5d2d;
    --scrollfocus: #bb693d;
  }

  [data-theme='summer'] {
    --profile: url('/assets/profileSummer.png');
    --pattern: url('/assets/checkerboardSummer.png');
    --primary: #157277;
    --text-primary: #47a895;
    --text-secondary: #82d5b6;
    --text-active: #157277;
    --accent: #ff9e67;
    --accent-dark: #e66f44;
    --accent-darkest: #d24d34;
    --nav-accent: #10656d;
    --nav-button: #0c5B64;
    --border: #10656d;
    --shadow: 0 4px 12px -2px rgba(5, 55, 60, 0.6);
    --scroll: #219894;
    --scrollhover: #28a59a;
    --scrollfocus: #2db39d;
  }
  
  h1 {
    @apply font-bold;
    @apply text-4xl;
    color: var(--accent);
  }

  h2 {
    @apply my-4;
    @apply font-bold;
    @apply text-2xl;
    color: var(--text-secondary);
  }

  h3 {
    @apply font-bold;
    @apply text-xl;
    color: var(--text-primary);
  }

  ::-webkit-scrollbar {
    width: 7px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: var(--nav-accent);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background: var(--scroll);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollhover);
  }
  ::-webkit-scrollbar-thumb:active {
    background: var(--scrollfocus);
  }
}