.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 1.2rem;
  border: 2px solid var(--border);
  border-radius: 0.7rem;
}

.container:hover {
  background-color: var(--border);
  cursor: pointer;
}

.container:hover .title{
  color: var(--accent);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.title {
  color: var(--sub-font);
  margin-bottom: 0.2rem;
}

.date {
  font-size: 0.9rem;
}

.caption {
  font-size: 1rem;
}

@media (max-width: 540px) {
  .header {
    flex-direction: column;
    justify-content: normal;
  }
}