:root {
  --accent: #e83b4c;
}

[data-theme=light] {
  --accent: #3b78e8;
}

[data-theme=dark] {
  --accent: #e83b4c;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/static/Inter-Regular.ttf');
  src: url('/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  font-size: 1.1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
