:root {
  --bg: #1f2026;
  --font: #b9bdc7;
}

[data-theme=light] {
  --bg: #f2f2f2;
  --font: #424248;
}

[data-theme=dark] {
  --bg: #1f2026;
  --font: #b9bdc7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  background: var(--bg);
}

body {
  font-size: 1.125rem;
  color: var(--font);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.75rem;
}

* {
  box-sizing: border-box;
}
