.main {
  display: flex;
  width: 100%;
}

.main > div {
  width: 100%;
}

.section {
  margin-bottom: 2rem;
}

.section > p {
  font-size: 1rem;
}

.main > div > div:last-of-type {
  margin-bottom: 0;
}

.title {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--accent);
}

.subtitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--sub-font);
}

.subsubtitle {
  font-weight: 700;
  font-size: 1.3rem;
}

.time {
  font-size: 0.9rem;
}

.imagewrapper {
  display: flex;
  justify-content: flex-end;
  margin-left: 1rem;
}

.image {
  border: none;
  border-radius: 0.5rem;
}

.link {
  font-weight: 600;
  color: var(--accent);
  cursor: pointer
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.grid > div {
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 0.4rem;
  background: var(--accent);
  color: var(--active-font);
}

@media (max-width: 720px) {
  .main {
    flex-direction: column-reverse;
  }
  .imagewrapper {
    margin-left: 0;
    margin-bottom: 0.7rem;
    justify-content: center;
  }
}
