.container {
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  height: 50rem;
  margin: 1.5rem 5.5rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background: #f2f3f4;
}

@media (max-width: 1024px) {
  .container {
    margin: 1.5rem 0rem;
    margin-top: 4rem;
  }
}