.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  min-height: 90vh;
  height: 90vh;
  margin: 0 5.5rem;
  margin-top: 2rem;
  padding: 1rem;
  background: #f2f3f4;
}
