.header {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* background: rosybrown; */
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--sub-font);
  cursor: pointer;
}

.header:hover *:nth-of-type(1) {
  color: var(--accent);
}

.xs {
  max-height: 0;
  overflow: hidden;
  transition: 300ms ease-out;
}
.open .xs {
  max-height: 10rem;
  transition: 300ms ease-in;
}

.sm {
  max-height: 0;
  overflow: hidden;
  transition: 300ms ease-out;
}
.open .sm {
  max-height: 17rem;
  transition: 300ms ease-in;
}

.md {
  max-height: 0;
  overflow: hidden;
  transition: 300ms ease-out;
}
.open .md {
  max-height: 35rem;
  transition: 300ms ease-in;
}

.lg {
  max-height: 0;
  overflow: hidden;
  transition: 450ms ease-out;
}
.open .lg {
  max-height: 55rem;
  transition: 450ms ease-in;
}

.xl {
  max-height: 0;
  overflow: hidden;
  transition: 600ms ease-out;
}
.open .xl {
  max-height: 70rem;
  transition: 600ms ease-in;
}

@media (max-width: 360px) {
  .open .xs {
    max-height: 25rem;
  }
  .open .lg {
    max-height: 120rem;
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  .open .xs {
    max-height: 20rem;
  }
  .open .lg {
    max-height: 90rem;
  }
}

@media (min-width: 480px) and (max-width: 560px) {
  .open .lg {
    max-height: 80rem;
  }
}

@media (min-width: 560px) and (max-width: 720px) {
  .open .lg {
    max-height: 70rem;
  }
}

@media (min-width: 720px) and (max-width: 760px) {
  .open .xs {
    max-height: 15rem;
  }
  .open .lg {
    max-height: 60rem;
  }
}

@media (max-width: 760px) {
  .open .sm {
    max-height: 25rem;
  }
}